.top-side {
  padding: 1rem;
  margin: 1rem auto;
  background-color: #10847d;
  width: 1100px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  border-radius: 10px;
  margin-bottom: 100px;
}
.top-side div {
  display: flex;
  gap: 20px;
}

.top-side div h1 {
  color: white;
}

.top-side div h1:last-child {
  color: #ffac12;
}

.top-side button {
  width: 210px;
  height: 60px;
  border-radius: 7px;
  border: none;
  background: #ffac12;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.top-side button:hover {
  background-color: aliceblue;
  color: #10847d;
}
.top-side button:hover,
svg {
  color: #10847d;
}

.footer-line hr {
  width: 100%;
  color: black;
  /* border: 1px solid black; */
  margin-bottom: 100px;
}
