.Advantages {
    color: #10375C;
    padding: 0 4%;
    text-align: center;

    font-family: "Poppins", sans-serif;
}

.Advantages-desc h1 {
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 23px;
}

.Advantages-desc p {
    font-size: 15px;
    font-weight: 400;
    line-height: 28.35px;
    color: #4F5665;
}

.Advantages-content {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 369.22px;
    
    column-gap: 1.5%;    
    margin-top: 45px;
}

.Advantages-content div {
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    
    border-radius: 15px;
    border: 1.16px solid #DDDDDD;
    height: 328.16px;
    width: 272.29px;
    padding: 1%;

    transition: margin-right 0.5s ease;
}

.Advantages-content div:hover  {
    cursor: pointer;
    background-color: #10847D;
    color: white;
    font-size: 18px;
    height: 369.22px;

    border: none;
    margin: 0 1%;
    box-shadow: rgba(0, 0, 0, 0.15) 10px 10px 23px;
}

.Advantages-content div:hover p {
    color: white;
    font-size: 11px;
}

.Advantages-content img {
    width: 100%;
    height: 149.33px;
    object-fit: cover;

    border-radius: 10px 10px 0px 0px;
    margin-bottom: 20px;
}

.Advantages-content div:hover img {
    height: 168.01px;
}


.Advantages-content p {
    font-size: 10px;
    line-height: 15px;

    margin-top: 8px;
}